



    <div class="row no-gutters">
      <div class="col-md-4">  
                <img class="zoom" src="../../assets/alphanso.jpg"> 
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1>Mango Tree (Alphonso, Grafted) - Plant</h1>
        
        <h2>₹ 549</h2>
        <h2>(MRP Inclusive of all taxes)</h2>
        <h2> Shipping Rs 79 for entire order</h2>
        <h3>Dispatch in 5-8 Days</h3>
        <p style="font-size: medium;">Alphonso (Hapus) is the most popular variety of Mango in India. The tropical fruit is called the "King of Fruits" in India.</p>
       <ul style="font-size: medium;">What makes it special:
           <li>One of the most popular Mango variety.</li>
           <li>Delicious test and excellent flavor.</li>
           <li>Mango requires comparatively low maintenance costs.</li>
       </ul>
       <button type="reset" class="btn btn-danger"><h4>ADD To CART</h4></button>
    </div>
</div>
</div>

   <div>
    <p style="font-size:large;">About Mango Tree</p>
<p style="font-size: medium;">This product does not have the flowers and fruit at the time of shipping. Afterward, the plant will bloom and develop fruit.
</p>
<p style="font-size: medium;">A mango is a juicy stone fruit produced from tropical trees belonging to the flowering plant genus Mangifera, and family Anacardiaceae, 
cultivated mostly for their edible fruit and it is originated in India. </p>
<p style="font-size: medium;">The Alphonso is a seasonal fruit, available mid-April through the end of June. </p>
</div>
