

<a><button (click)="onlogout()" class="btn btn-secondary"><h3>Logout</h3></button></a>
<h1 align="center">Admin Dashboard</h1>
<br><br><br>
<div class="d p">
  <!--<i class="glyphicon glyphicon-user" style="font-size:40px;color:red;"></i>-->

<h2>List of Users</h2>
  
  </div>
  
  
  <div class="d r">
    <!--<i class="fa fa-product-hunt" aria-hidden="true" style="font-size:40px;color:red;"></i>-->
    <h2>Products</h2>
    <!--<a routerLink=""><button type="button" class="btn btn-success"><h3>Edit</h3></button></a><br>
    <a routerLink=""><button type="button" class="btn btn-success"><h3>View</h3></button></a>&nbsp;&nbsp;

    <a routerLink=""><h3>Add</h3></a>-->
    
    <div class="w3-show-inline-block">
      <div class="w3-bar">
        <a routerLink="/addproduct"> <button class="w3-btn w3-black btn btn-success b1"><h3>Add</h3></button></a>
  <a routerLink=""><button class="w3-btn w3-teal btn btn-success b1"><h3>View</h3></button></a>
        <a routerLink=""><button class="w3-btn w3-border btn btn-success  b1"><h3>Edit</h3></button></a>
      </div>
      </div>
  
  </div>
  
  <div class="d">
    <!--<i class="glyphicon glyphicon-envelope" style="font-size:40px;color:red;"></i>-->
    <h2>Orders</h2>
  
  </div>




